<div class="index_container">
  <h2 class="menu_title">My Menu</h2>

  <div class="menu_grid">
  <div></div>
    <div class="menu_list">
      <% @menu.recipes.each do |recipe| %>
        <%= recipe.title %>
        <div class="remove_from_menu" id="<%=dom_id(recipe)%>">
          <%= link_to 'Remove from menu', menu_path(@menu, params: {recipe_id: recipe.id}), method: :delete, class: "btn btn-outline-dark" %> 
      </div>
    <% end %>
     <div class="my_shoppinglist_btn">
    <%= link_to  "My shoppinglist", shoppinglist_path, class: "btn btn-outline-dark" %>
    </div>
    </div>
  <div></div>
   
  </div>
</div>