<div class="index_container">

  <h2 class="recipe_title">Recipes</h2>

  <div class="recipe_grid">
  <div></div>
    <div class="recipes_list">
      <% @recipes.each do |recipe| %>
        <div class="recipe_link" id="<%=dom_id(recipe)%>"><%= link_to recipe.title, recipe_path(recipe), class: 'recipes_list' %></div>
        <div class="add_to_menu"><%= link_to "Add to menu", menu_path(current_user.menu, params: {recipe_id: recipe.id}), method: :put, class: "btn btn-outline-dark" unless current_user.nil? %></div>
      <% end %>
    </div>
    <div></div>
  </div>
</div>

