<div class="new_recipe">
  <h3>Create new recipe</h3>
  <%= form_with model: @recipe, class: "form-group" do |form| %>
    <%= form.text_field :title, placeholder: "Recipe title", class: "form-control" %>
    <%= form.text_area :description, placeholder: "Recipe description", class: "form-control" %>
    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %> 
</div>