<div class="header">
  <%= link_to  "Home", root_path, class: "btn btn-outline-dark" %>
  <%= link_to  "Create recipe", new_recipe_path, class: "btn btn-outline-dark" %>
  <%= link_to  "Sign up", "#signup", class: "btn btn-outline-dark" %>
</div>