<h2 class="shoppinglist_title">My Shoppinglist</h2>

<div class="show_shoppinglist">
  <% @shoppinglist.each do |recipe| %>
    <% recipe.ingredients.each do |ingredient| %>
    <div class="left">
    <%= ingredient.quantity %>
    </div>
    <div class="right">
    <%= ingredient.name %>
    </div>
  <% end %>
<% end %>

</div>