// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.header {
  margin: 10px;
}

.btn {
  background-color: #E9DC16;
  margin-bottom: 10px;

}

.index_container {
  text-align: center;
  
}

.show_recipe {
  text-align: center;
}

.new_recipe {
  text-align: center;
}

.edit_recipe {
  text-align: center;
}

.form-control {
  margin: auto;
  width: 40%;
  min-width: 200px;
}

.show_menu {
  text-align: center;
  margin-top: 5em;
}

.recipes_list {
  display: grid;
  justify-items: end;
  margin-right: 45%
}